

  #openscreen {
    position: absolute;
    z-index: 100;
    top: 32px;
    left: 32px;
    width: 400px;
    height: 64px;
  }
    
    
  
  
  #roundlist {
    position: absolute;
    z-index: 101;
    top: 32px;
    left: 448px;
    width: 400px;
    height: 64px;
  }
  
  #countdown {
    position: absolute;
    z-index: 99;
    top: 32px;
    left: 864px;
    width: 208px;
    height: 64px;
  }

  #time {
    position: absolute;
    z-index: 99;
    top: 32px;
    left: 1088px;
    width: 160px;
    height: 64px;
  }
  
  #countdown h1, #time h1 {
      padding: 14px 16px 0 16px;
      height: 50px;
      text-align: center;
  }