
  #standings {
    position: absolute;
    z-index: 20;
    left: 32px;
    top: 112px;
    width: 600px;
    height: 576px;
    
    overflow: hidden;
  }
  
  
  #standings div.content {
    height: 460px;
    padding-bottom: 16px;
    overflow: hidden;
  }
  
  #standings div.scrollarea {
    overflow: hidden;
  }
  
  
  ul.teamlist {
    width: 50%;
    float: left;
    overflow: hidden;
  }
    
  ul.teamlist li {
    height: 40px;
    background-color: #393939;
    margin-bottom: 4px;
    overflow: hidden;
  }  
  
  ul.teamlist:first-of-type li{
    margin-right: 8px;
  }
  
  ul.teamlist:last-of-type li{
    margin-left: 8px;
  }
  
  ul.teamlist div.rank {
    float: left;
    width: 40px;
    height: 30px;
    padding-top: 10px;
    color: #eee;
    background-color: #1D1D1D;
    font-size: 22px;
    text-align: center;
  }
  
  ul.teamlist div.results {
    float: left;
    width: 30px;
    height: 40px;
    margin-left: 2px;
    color: #444444;
  }
  
  ul.teamlist div.results div {
    background-color: #1D1D1D;
    height: 19px;
    text-align: center;
    color: #992400;
  }
  
  ul.teamlist div.results div.wins {
      margin-bottom: 2px;
      color: #6b8200;
  }
  
  ul.teamlist a {
    float: left;
    height: 30px;
    font-size: 16px;
    padding: 10px 0 0 16px;
  }
  
  