  /*
   * Resets all styles (fights browser differences)
   **/
  @import url("reset.css");

  /*
   * Global reusable styles for the site
   **/
  @import url("base.css");

  /*
   * Typography styles, fonts, sizes and colors
   **/
  @import url("typography.css");