<section>
	<header>
	    <h2>Upcoming Games</h2>
	</header>
  <div class="content">
    <div class="scrollarea">
    	<ul class="gamelist">
      <% _.each(games, function(game){ %>
       <li>
         <div class="field"><%= game.game_site.name %></div>
         <div class="time"><%= getTime(game.start_time) %></div>
         <div class="team"><%= shorten(game.team_1.name) %></div>
         <div class="vs">vs</div>
         <div class="team" style="margin-right: 0;"><%= shorten(game.team_2.name) %></div>
       </li> 
      <% }); %>
      </ul>
    </div>
  </div>
</section>