
<h1>0 Entree page</h1>
        Divison women/mixed/open

<h1>1 Division</h1>
        Ranking
            Swissdraw round met VP
                Uitleg ranking
            + Brackets QF, SF, F
        Results
        Next match

<h1>2 Team</h1>
	    Tournament story, met ranking
	    Results per round
	    Stats 
	    Foto's Picasa

	    Alle wedstrijd resultaten, per ronde
	        + next match
	    Current ranking: Toernooi verloop, welke standing had het team per ronde
	        kies: voorgaande ronde, hoe hebben ze zich ontwikkeld
	    Stats per speler, als ze zijn ingevoerd


<h1>3 Settings</h1>
	    Carousel voor public screen
	    Font size




 

