<section>
  <header>
      <h2>Standings</h2>
  </header>
  
  <div class="content">
    <div class="scrollarea">
      <ul class="teamlist">
        <% _.each(left, function(rank){ %>
         <li>
         		<div class="rank"><%= (rank.ranking+8) %></div>
         		<div class="results">
         		  <div class="wins"><%= rank.wins %></div>
         		  <div class="losses"><%=rank.losses%></div>
         		</div>
         		
         		<div class="swiss">
         		  <div class="vp"><%= rank.swiss_score %></div>
         		  <div class="op"><%=rank.swiss_opponent_score%></div>
         		</div>

         		<a href="#"> <%= shorten(rank.team.name) %></a>
         </li> 
        <% }); %>
      </ul>

      <ul class="teamlist">
        <% _.each(right, function(rank){ %>
         <li>
        		<div class="rank"><%= (rank.ranking+8) %></div>
        		<div class="results">
        		  <div class="wins"><%= rank.wins %></div>
        		  <div class="losses"><%=rank.losses%></div>
        		</div>
        		
         		<div class="swiss">
         		  <div class="vp"><%= rank.swiss_score %></div>
         		  <div class="op"><%=rank.swiss_opponent_score%></div>
         		</div>

        		
        		<a href="#"> <%= shorten(rank.team.name) %></a>
         </li> 
        <% }); %>
      </ul>
    </div>
  </div>
</section>